{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shorter</title>

    <link rel="icon" href="/static/logo.png" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <div class="heading">
        <img src="{% static 'logo.png'%}" alt="logo" class="logo" />
        <a href="/"><h1>&nbsp;Link Shorter</h1></a>
    </div>
    <div class="container">
        <h2>Link Shortened Successfully</h2>
        <div class="clip">
            <div class="inputbox">
                <textarea id="myTextBox">{{short_url}}</textarea>
                <button class="copy-button" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
        <span>Your link will expired after 5 uses</span>
    </div>
    <script>
            function copyToClipboard() {
                /* Get the text field */
                var textBox = document.getElementById("myTextBox");

                /* Select the text field */
                textBox.select();
                textBox.setSelectionRange(0, 99999); /* For mobile devices */

                /* Copy the text inside the text field to the clipboard */
                document.execCommand("copy");
            }
        </script>
    <footer>
        <p>Simplify and streamline your links with our powerful URL shortener. With the increasing complexity of web addresses, sharing long URLs can be cumbersome and visually unappealing. Our URL shortener tool takes any lengthy URL and condenses it into a concise, compact link that is easy to share and remember</p>
    </footer>
  </body>
</html>
